@font-face {
  font-family: CircularSTD;
  src: url('../../fonts/CircularStd-Black.otf') format('opentype');
  font-display: block;
}
:root {
  /* COLORS */
  --color_black: #000;
  --color_grey: #1a1a1b;
  --color_clay: #7b7b7b; 
  --color_wheat: #f3f3f3;
  --color_white: #fff;
  /* VARIABLES */
  --hidden: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: CircularSTD;
  color: var(--color_wheat);
}

/* ScrollBar */
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Highlighting */
::-moz-selection { 
  background-color: var(--color_wheat);
  color: var(--color_grey); /* Firefox */
}
::selection { 
  background-color: var(--color_wheat);
  color: var(--color_grey); /* Chrome, Safari, and Opera */
}

/* Body */
body {
  width: 100%;
  background-color: var(--color_grey);
}
a {
  display: inline-flex;
  height: 100%;
  letter-spacing: 1px;
  text-decoration: none;
}
main {
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
  height: 100%;
}
.middle {
  height: 100vh;
  display: flex;
}
.middle>span {
  margin: auto;
}

/* 
@media (max-width: 1000px) {
  .header_container {
    padding: 3rem 3rem 0;
  }
  .up {
    right: 3rem;
  }
  .up.visible {
    bottom: 6rem !important;
  }
  .scroller {
    padding-left: 3rem !important;
  }
  .footer {
    padding: 0 3rem 3rem !important;
  }
  .hamburger-react {
    right: 3rem;
    top: 45px;
  }
}
@media (max-width: 950px) {
  .right_menus>a {
    display: none;
  }
  .hamburger-react {
    display: block;
  }
}
@media (min-width: 950px) {
  .hamburgerOpen .mobileNav {
    display: none;
  }
}
@media (max-width: 875px) {
  .del {
    display: none;
  }
}
@media (max-width: 775px) {
  .header_container {
    padding: 2rem 2rem 0;
  }
  .scroller {
    padding-left: 2rem !important;
  }
  .up {
    right: 2rem;
  }
  .up.visible {
    bottom: 5rem !important;
  }
  .footer {
    padding: 0 2rem 2rem !important;
  }
  .hamburger-react {
    right: 2rem;
    top: 28px;
  }
}
@media (max-width: 600px) {
  .title {
    display: none;
  }
}
@media (max-width: 425px) {
  .header_container {
    padding: 1rem 1rem 0;
  }
  .up {
    right: 1rem;
  }
  .up.visible {
    bottom: 4rem !important;
  }
  .scroller {
    padding-left: 1rem !important;
  }
  .footer {
    padding: 0 1rem 1rem !important;
  }
  .phone,
  .rights_left,
  .rights_right {
    display: none;
  }
  .hamburger-react {
    right: 1rem;
    top: 10px;
  }
}
@media (max-height: 375px) {
  .mobileName {
    flex-direction: row;
  }
} */