/* Responsive */
@media (max-width: 1000px) {
  .hamburger-react {
    right: 3rem;
    top: 45px;
  }
}
@media (max-width: 950px) {
  .hamburger-react {
    display: block;
  }
}
@media (min-width: 950px) {
  .hamburgerOpen .mobileNav {
    display: none;
  }
}
@media (max-width: 775px) {
  .hamburger-react {
    right: 2rem;
    top: 28px;
  }
}
@media (max-width: 600px) {
  .title {
    display: none;
  }
}
@media (max-width: 425px) {
  .hamburger-react {
    right: 1rem;
    top: 10px;
  }
}