* {
    cursor: none !important;
}
.pointer,
.mouse {
  mix-blend-mode: exclusion;
  width: 30px;
  height: 30px;
}
.mouse {
  position: fixed;
  top: -30px;
  left: -30px;
  z-index: 5000;
  opacity: 1;
  pointer-events: none !important;
}
.mouse.invisible{
  opacity: 0;
  transition: opacity 1s 0.5s;
}
.pointer {
  position: absolute;
  background-color: var(--color_wheat) !important;
  border-radius: 50%;
  -webkit-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center center;
}
.zooming.pointer {
  -webkit-transform: scale(2.75);
  -moz-transform: scale(2.75);
  -ms-transform: scale(2.75);
  -o-transform: scale(2.75);
  transform: scale(2.75);
}
a,
span {
  position: relative;
  color: var(--color_wheat) !important;
}
