.up {
  position: fixed;
  right: 4rem;
  bottom: -20%;
  border-radius: 0.4rem;
  transition: 0.4s;
}
.up.visible {
  bottom: 7rem;
  z-index: 5;
}
.up img {
  transform: rotate(-90deg);
  width: 30px;
  height: 30px;
}

/* Responsive */
@media (max-width: 1000px) {
  .up {
    right: 3rem;
  }
  .up.visible {
    bottom: 6rem !important;
  }
}
@media (max-width: 775px) {
  .up {
    right: 2rem;
  }
  .up.visible {
    bottom: 5rem !important;
  }
}
@media (max-width: 425px) {
  .up {
    right: 1rem;
  }
  .up.visible {
    bottom: 4rem !important;
  }
}